<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html(title=${project.name} + ' project')}">
<head>
    <title th:text="${project.name}"></title>
</head>
<body>
<section layout:fragment="content" class="my-3" th:if="${#strings.contains(#authentication.principal.authorities, 'DEPARTMENT-MANAGER') OR #strings.contains(#authentication.principal.authorities, 'SECRETARIAT') OR (#strings.contains(#authentication.principal.authorities, 'PROJECT-MANAGER') AND project.manager.id == #authentication.getPrincipal().getId())}">
    <div class="row">
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <div th:each="project : ${project}" class="d-flex flex-row py-3 border-bottom d-flex justify-content-between">
                    <h1 th:text="${project.name}" class="me-3 text-nowrap"></h1>
                    <div class="float-end" th:if="${#strings.contains(#authentication.principal.authorities, 'SECRETARIAT') OR #strings.contains(#authentication.principal.authorities, 'DEPARTMENT-MANAGER') OR #strings.contains(#authentication.principal.authorities, 'PROJECT-MANAGER')}">
                        <a class="btn btn-success btn-lg" th:href="@{/project/edit-{projectId}(projectId=${project.id})}" data-toggle="tooltip" data-placement="top" title="Edit"><i><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></i></a>
                    </div>
                </div>
                <h4 class="card-subtitle mb-2 text-muted mt-2" th:text="${#dates.format(project.from, 'dd.MM.yyyy')} + ' - ' + ${#dates.format(project.to, 'dd.MM.yyyy')}"></h4>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <div th:each="project : ${project}" class="d-flex flex-row py-3">
                    <p th:text="${project.description}" class="me-3 text-wrap"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-md-10 col-lg-9 col-xl-8" th:if="${#strings.contains(#authentication.principal.authorities, 'DEPARTMENT-MANAGER') OR #strings.contains(#authentication.principal.authorities, 'SECRETARIAT') OR (#strings.contains(#authentication.principal.authorities, 'PROJECT-MANAGER') AND project.manager.id == #authentication.getPrincipal().getId())}">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <h3>Users assigned</h3>
                        <div th:if="${#strings.contains(#authentication.principal.authorities, 'SECRETARIAT')}">
                            <p><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">Assign New User</button></p>
                            <div th:switch="${message}">
                                <div th:case="'Success'" class="alert alert-success">
                                    <strong>Success!</strong> Operation performed successfully.
                                </div>
                                <div th:case="'Failed-notFound'" class="alert alert-danger">
                                    <strong>Failure!</strong> User not found. Please try again
                                </div>
                                <div th:case="'Failed-exists'" class="alert alert-danger">
                                    <strong>Failure!</strong> User already assigned.
                                </div>
                            </div>
                            <div class="collapse" id="collapseForm">
                                <div class="card card-body">
                                    <form method="post" th:action="@{/project/assign}" th:object="${userVO}">
                                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                        </div>
                                        <div class="form-row row g-3 align-items-center">
                                            <div class="col-auto">
                                                <label for="userUsername" class="form-label">Username</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="text" th:field="*{username}" class="form-control" id="userUsername" required autofocus>
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-primary">Add user</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Email</th>
                        <Th>Time assigned</Th>
                        <Th>Assignment scope</Th>
                        <Th>Assignment note</Th>
                        <Th>Assignment status</Th>
                        <th th:if="${#strings.contains(#authentication.principal.authorities, 'DEPARTMENT-MANAGER') OR (#strings.contains(#authentication.principal.authorities, 'PROJECT-MANAGER') AND project.manager.id == #authentication.getPrincipal().getId())}">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${not #lists.isEmpty(users)}" th:each="index : ${#numbers.sequence(0, #arrays.length(users)-1)}">
                            <tr>
                                <td th:text="${users[index].firstname} + ' ' + ${users[index].lastname}"></td>
                                <td th:text="${users[index].username}"></td>
                                <td th:text="${users[index].role}"></td>
                                <td th:text="${users[index].email}"></td>
                                <div th:if="${assignments[index].job_id} == ${project.id}">
                                    <td th:if="${#dates.format(assignments[index].from, 'dd.MM.yyyy')} != '27.12.0999'"  th:text="${#dates.format(assignments[index].from, 'dd.MM.yyyy')} + ' - ' + ${#dates.format(assignments[index].to, 'dd.MM.yyyy')}"></td>
                                    <td th:if="${#dates.format(assignments[index].from, 'dd.MM.yyyy')} == '27.12.0999'">Not yet assigned</td>
                                    <td data-toggle="tooltip" data-placement="top" th:title="${assignments[index].scope/40 + ' FTE'}" th:text="${assignments[index].scope} + ' h/week'"></td>
                                    <td th:text="${assignments[index].note}"></td>
                                    <td th:text="${assignments[index].status}"></td>
                                </div>
                                <div th:if="${assignments[index].job_id} != ${project.id}">
                                    <td>Not yet assigned</td>
                                    <td data-toggle="tooltip" data-placement="top" th:title="${0/40 + ' FTE'}">0 h/week</td>
                                    <td>Newly assigned</td>
                                    <td>Draft</td>
                                </div>
                                <td th:if="${#strings.contains(#authentication.principal.authorities, 'DEPARTMENT-MANAGER') OR (#strings.contains(#authentication.principal.authorities, 'PROJECT-MANAGER') AND project.manager.id == #authentication.getPrincipal().getId())}">
                                    <a class="btn btn-success btn-sm rounded-0" th:href="@{/assignment/edit-{assignmentId}(assignmentId=${assignments[index].id})}" data-toggle="tooltip" data-placement="top" title="Assign"><i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/></svg></i>
                                    </a>
                                </td>
                            </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>